<footer class="site-footer">
	<div class="container pure-g">
        <div class="footer-col pure-u-1 pure-u-md-1-4">
        </div>
        <div class="footer-col pure-u-1 pure-u-md-1-4">
            <h3>About {{ site.short_title }}</h3>
            <ul>
            {% for item in site.menus.navigation %}
                <li><a href="{{ item.url | absolute_url }}">{{ item.title }}</a></li>
            {% endfor %}
            </ul>
        </div>
        <div class="footer-col pure-u-1 pure-u-md-1-4">
        </div>
        <div class="footer-col pure-u-1 pure-u-md-1-4">
        </div>
	</div>
	<div class="copyright">
        <p>
            &copy;{{ 'now' | date: "%Y" }} {{ site.title }} - All Rights Reserved<br>
		</p>
	</div>
</footer>
<!-- Javascript -->
<script src="{{ "/js/main.js" | absolute_url }}" type="text/javascript"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-121578632-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-121578632-1');
  gtag('config', 'UA-121578632-1', { 'anonymize_ip': true });

</script>
</body>
</html>
