<footer class="site-footer">
	<div class="container pure-g">
        <div class="footer-col pure-u-1 pure-u-md-1-2">
            <h3>About {{ site.short_title }}</h3>
            <ul>
            {% for item in site.menus.navigation %}
                <li><a href="{{ item.url | absolute_url }}">{{ item.title }}</a></li>
            {% endfor %}
            </ul>
        </div>
        <div class="footer-col pure-u-1 pure-u-md-1-2">
		<h3>Help us! Share awareness about our research!</h3>
		<div class="ssk-group">
    <a href="" class="ssk ssk-facebook"></a>
    <a href="" class="ssk ssk-twitter"></a>
    <a href="" class="ssk ssk-google-plus"></a>
    <a href="" class="ssk ssk-linkedin"></a>
    <a href="" class="ssk ssk-email"></a>
		</div>
        </div>
	<div class="copyright">
        <p>
            &copy;{{ 'now' | date: "%Y" }} {{ site.title }} - All Rights Reserved<br>
		</p>
	</div>
</footer>
<!-- Javascript -->
<script src="{{ "/js/main.js" | absolute_url }}" type="text/javascript"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-121578632-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-121578632-1');
  gtag('config', 'UA-121578632-1', { 'anonymize_ip': true });

</script>
	<script type="text/javascript" src="{{ "/js/social-share-kit.min.js" | absolute_url  }} "></script>

	<script type="text/javascript">
		SocialShareKit.init({text: "Help us investigate the tech skill gap - fill out our survey!", url:"https://misalignedtech.com",
		title: "Help investigating the tech skill gap - fill out our survey!"
		});
</script>
</body>
</html>
