<!doctype html>
<html class="no-js" lang="en" prefix="og: http://ogp.me/ns#" >
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ site.title }} - {{ page.title }}</title>
  <meta name="description" content="Fill out our survey! We're investigating the education/industry expectations gap in the tech sector">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="research,expectations,education,industry,academy,skills,gap">
  <meta name="author" content="Alan Franzoni,Hasti Ghabel">

  <meta property='og:title' content='{{ site.title }} - {{ page.title }}'/>
    <meta property='og:image' content='https://uploads/2018/06/27/janko-ferlic-174927-unsplash(1).jpg'/>
    <meta property='og:description' content="Fill out our survey! We're investigating the education/industry expectation gap in the tech sector"/>
    <meta property='og:url' content='https://misalignedtech.com/' />
    <meta property="og:type" content="website" />
    <meta property='og:site_name' content='{{ site.title }}'/>




  <link rel="icon" type="image/png" href="{{ "/img/favicon.png" | absolute_url }}"/>
  <link rel="stylesheet" href="https://yui-s.yahooapis.com/pure/0.6.0/pure-min.css">
  <link rel="stylesheet" href="{{ "/css/social-share-kit.css" | absolute_url }}" type="text/css">
  <!--[if lte IE 8]>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-old-ie-min.css">
  <![endif]-->
  <!--[if gt IE 8]><!-->
  <link rel="stylesheet" href="https://yui-s.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
  <!--<![endif]-->
  <link rel="stylesheet" href="{{ "/css/main.min.css" | absolute_url }}">
</head>
<body>
